<%= @account_message %>

<section class='login'>
	<h4>Welcome back, login!</h4>
	<form action='/account/login' method='post'>
		<input type="text" name="username">
		<input type="password" name="password">
		<input type="submit" value='Take me to the choppa!'>
	</form>
</section>

<section class='register'>
	<h4>Want to register?</h4>
	<form action='/account/register' method='post'>
		<input type="text" name="username">
		<input type="email" name="email">
		<input type="password" name="password">
		<input type="submit" value='Register now!'>
	</form>
</section>